


header {    
    margin: 0;    
    font-family: Arial, sans-serif;    background: #000;    
    color: #fff;    
    display: flex;    
    justify-content: center;
}

.navbar {    
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;    
    padding: 20px; 
    background-color: #000;    
    box-sizing: border-box;    
    width: 100%;    
    max-width: 1920px; 
}

.logo {    
    max-width: 250px;    
    height: auto;    
}

.menu {    
    display: flex;    
    align-items: center;    
    gap: 100px;     
    flex-wrap: wrap;    
    justify-content: center;    
    margin-bottom: 50px; 
}

.menu a, .menu input {    
    color: #fff;    
    text-decoration: none;    
    font-size: 20px; 
}

.menu input {    
    padding: 10px;  border-radius: 25px;    
    border: none;    
    outline: none;    
    background-color: #333;    
    color: #fff;
    
}

.icons {    
    display: flex;   
    gap: 20px; 

}

.icons i {    
    font-size: 40px; 
}

@media (min-width: 601px) {    
    .navbar {        
        flex-direction: row;        justify-content: center;    }    
        
        .logo {        
            margin-bottom: 0;        margin-right: 60px;    }    
        .menu {        
                margin-bottom: 0;    }
            }


main {
    background-image: linear-gradient(black,rgb(36, 36, 59) );;
    color: white;
}


.container2 {            
 color: #fff;            
 font-family: Arial, sans-serif;            
 margin: 10 px;           
 display: flex;            
 justify-content: center;            
 align-items: center;            
 height: 100vh;            
 flex-direction: column;            
 text-align: center; 
       
}        

h1 {            
    font-size: 2.5em;            
    margin: 1em 0;
    margin-left: 1em;        
}        

.message {            
    font-size: 1.5em;            
    margin-bottom: 2em;
    margin-left: 2em;        
}        

       

.empty {           
    width: 350px;         
    height: auto;          
    margin-bottom: 10em;
   
}