header {    
    margin: 0;    
    font-family: Arial, sans-serif;    background: #000;    
    color: #fff;    
    display: flex;    
    justify-content: center;
}

.navbar {    
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;    
    padding: 20px; 
    background-color: #000;    
    box-sizing: border-box;    
    width: 100%;    
    max-width: 1920px; 
}

.logo {    
    max-width: 250px;    
    height: auto;    
}

.menu {    
    display: flex;    
    align-items: center;    
    gap: 100px;     
    flex-wrap: wrap;    
    justify-content: center;    
    margin-bottom: 50px; 
}

.menu a, .menu input {    
    color: #fff;    
    text-decoration: none;    
    font-size: 20px; 
}

.menu input {    
    padding: 10px;  border-radius: 25px;    
    border: none;    
    outline: none;    
    background-color: #333;    
    color: #fff;
    
}

.icons {    
    display: flex;   
    gap: 20px; 

}

.icons i {    
    font-size: 40px; 
}

@media (min-width: 601px) {    
    .navbar {        
        flex-direction: row;        justify-content: center;    }    
        
        .logo {        
            margin-bottom: 0;        margin-right: 60px;    }    
        .menu {        
                margin-bottom: 0;    }
            }

.nav-icons span:last-child {            
      color: #00aaaa;         
   }

   main {
    background-image: linear-gradient(black,rgb(36, 36, 59) );;
    color: white;
}


.center-wrapper {            
 display: flex;            
 justify-content: center;            
 align-items: flex-start;            
 height: 150vh;            
 position: relative; 
 padding-top: 50px;
 
    

}        

.background-box, .form-container {                  
 position: absolute;            
 width: 90%;           
 max-width: 400px;            
 padding: 20px;            
 border-radius: 10px;            
 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);            
 box-sizing: border-box;        
}        

.background-box {            
    width: 95%;            
    max-width: 400px;            
    height: 95%;            
    max-height: 300px;            background-color: #00aaaa;            z-index: 0;            
    transform: translate(20px, 20px)       
}        

.form-container {            
    background-color: #e0e0e0;            z-index: 1;        
}        

.form-container input {            
    width: 100%;            
    padding: 10px;            
    margin-bottom: 15px;            
    border: 1px solid #000;            border-radius: 5px;            
    box-sizing: border-box;            
    font-size: 16px;            
    background-color: #d3d3d3;        
}        

.form-container input::placeholder 
{              
    color: #555;            
    opacity: 1;        

}        

.button-group {            
    display: flex;            
    justify-content: space-between; 
           

}        

.button {            
    background-color: #007777;            
    color: #fff;            
    padding: 10px 20px;           
    border: none;           
     border-radius: 5px;            
     cursor: pointer;            
     font-size: 16px;            
     font-weight: bold;            
     transition: background-color 0.3s;            
     box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);        
    }        
    
    
    .button:hover {            
        background-color: #005555;        
    }